.open-ai{
    display: flex;
    gap: 20px;
    padding: 20px;
}
@media (max-width: 786px) {
    .open-ai{
        display: block;
    }
}
#clear-history-history{
    float: right;
    margin-top: -35px;
}
.history{
    width: 20%;
    overflow: scroll;
    padding: 10px;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#search-history{
    margin: 10px;
}
#chat-container{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
}

#chat-history {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

#user-input {
    width: calc(30% - 22px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
@media (max-width: 789px) {
    #user-input{
        width: calc(80% - 22px);
    }
}
.center-btns{
    display: flex;
    justify-content: center;
    width: 100%;
}
#speech-button, #search-button {
    padding: 5px 10px;
    margin-left: 5px;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


.message.incoming {
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.message.outgoing {
    animation: slideInRight 0.5s ease forwards;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
