#chat-container {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
}

#chat-history {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

#user-input {
    width: calc(100% - 22px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#speech-button, #search-button {
    padding: 5px 10px;
    margin-left: 5px;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


.message.incoming {
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.message.outgoing {
    animation: slideInRight 0.5s ease forwards;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
